body{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    
    justify-items: center; 
    flex-direction: column;
  }

html {
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.banner{
    display: flex;
    flex-direction: column;
    /*background-image: url('../Images/pexels-pixabay-mountains.jpg');*/
    background-color: #333333;
    width: 100%;
    height: 100%;
    color: #08b;
    font-size: 30pt;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0%;

}

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
}

.nav{
    background-color: #08b;
    width: 80%;
    justify-self: center;
}

.left{
    float: left;
}

ul {
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: #fff;
    padding: 15px;
}

.nav-link:hover{
    color: rgb(130, 187, 207)
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.all-the-beds {
    background-image: url('../Images/all-the-beds.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    aspect-ratio: 1858/737;
}

.bed-twenty-six{
    background-image: url('../Images/bed-26.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bed-twenty-nine {
    background-image: url('../Images/bed-29.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bed-thirty-one {
    background-image: url('../Images/bed-31.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.all-bed-image {
    width: 100%;
    height: auto;
}

.bed-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bed-31 {
    position: relative;
    border-radius: 30%;
    width: 100%;
    height: 100%;
    z-index: 2000;
}


.link {
    position: relative;
    /*top: 45%;
   /* width: 70px;
    height: 50px; */
    border-radius: 40%;
    border: 3px solid #ff0000;
}

.bed-26 {
    position: relative;
    /*top: 53%;
    /*width: 70px;
    height: 50px; */
    border-radius: 40%;
    border: 3px solid #ff0000;
}

.bed-29 {
    position: relative;
    /*top: 50%;
    /*width: 70px;
    height: 50px; */
    border-radius: 40%;
    border: 3px solid #ff0000;
}

.clickable{
    background-color: #ffffff;
}

.center{
    text-align: center;
}

.bed-one {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 1000px;
    height: 800px;
 
}

.centre{
    justify-self: center;
    justify-content: center;
    border: 5px double rgb(130, 187, 207);
    width: 100%;
    height: 100%;
}

.smlmargin{
    margin: 20px;
}

.clickable:hover{
    background-color: #08b;
    color: #fff;
}

.clickable:focus{
    background-color: #08b;
    color: #fff;
}

.spring-onion {
    position: relative;
    
    border-radius: 30%;
    border: 3px solid #ff0000;
    
    z-index: 2000;
}

.silver-beet {
    position: relative;
   
    border-radius: 30%;
    border: 3px solid #ff0000;
   
    z-index: 2000;
}

.beetroot {
    position: relative;
   
    border-radius: 30%;
    border: 3px solid #ff0000;
    
    z-index: 2000;
}

.rainbow-chard{
    position: relative;
    
    border-radius: 30%;
    border: 3px solid #ff0000;
   
    z-index: 2000;
}

.lettuce {
    position: relative;
    
    border-radius: 30%;
    border: 3px solid #ff0000;
   
    z-index: 2000;
}

.celery {
    position: relative;
    
    border-radius: 30%;
    border: 3px solid #ff0000;
    
    z-index: 2000;
}

.main{
    margin: 30px;
    display: none;
}

.main1{
    margin: 40px;
}

.header{
    font-size: 46pt;
}

.large{
    font-size: 18pt;
}

.hidden {
    text-align: center;
    display: none;
}

.break{
    width: 100%;
    height: 70px;
}

.footer{
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picborder{
    height: 270px;
    width: 525px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picborder:hover{
    box-shadow: 7px 7px 5px #808080;
    border: none;
}

.picborder:focus{
    box-shadow: 7px 7px 5px #808080;
    border: none;
}

.hide{
    display: none;
}

.show{
    display: block;
}

/* @media (max-width: 1090px) {

   /* .all-the-beds {
        width: 1080px;
        height: auto;
    }

    .all-bed-image {
        width: 700px;
        height: 500px;
    } */

   /* .link {
        top: 42%;
        left: -42%;
    }

    .bed-26 {
    top: 53%;
    left: -26em;
    }

    .bed-29 {
        top: 44%;
        left: -23%;
    } 
}

@media (max-width: 850px){

    

    .link {
        top: 42%;
        left: -52%;
    }

    .bed-26 {
        top: 51%;
        left: -26em;
    }

    .bed-29 {
        top: 44%;
        left: -23%;
    }
}*/

@media (max-width: 730px) {

    .banner {
        font-size: 18pt;
    }

    .nav-link {
        font-size: 12pt;
    }

    .footer {
        font-size: 8pt;
    }

    .header {
        font-size: 20pt;
    }

    .large {
        font-size: 12pt;
    }

    .row {
        flex-direction: column;
    }

    .hidden {
        display: block;
    }

   
    
}



